/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body {
	background-color: #F5FAFF;
}

input {
	border: 1px solid #C2C2D6;
	padding: 0.15em;
}

select {
	border: 1px solid #C2C2D6;
	padding: 0.2em;
}

table {
	margin-top: 1em;
}

table td, th {
	padding: 0.5em;
	border-collapse: collapse;
	border: 1px solid #E0E0EB;
}

h1 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.25em;
}

h2 {
	font-size: 1.5em;
}

#contentView.ng-enter {
    -webkit-transition:0.8s linear all;
    transition:0.8s linear all;
    opacity: 0;
}
#contentView.ng-enter.ng-enter-active {
    opacity: 1;
}

footer {
	width: 90%;
	text-align: center;
	position: relative;
	float: left;
	margin: 1em;
}


.noIco {
	list-style: none;
}

.bold {
	font-weight: bold;
}

.full-width {
	width: 100%;
}

.has-error {
	border-color: red;
}

.error-message {
	color: red;
	font-weight: bold;
	font-size: 0.7em;
	display: block;
}

.tab-content{
	padding: 0.4em;
}

.row {
	padding: 0.4em;
}

.col {
	float: left;
}

.alignRight {
	text-align: right;
}

.row div:first-child {
    text-align: right;
}

@media screen and (max-width: 780px) {

}

.modal-content {
	top: 3em;
}

.resultRow {
    border: 1px solid #C2C2D6;
    background-color: #E6F0FF;
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em;
    box-shadow: 3px 3px 3px #888888;
    min-height: 4em;
    width: 100%;
    min-width: 20em;
    cursor: pointer;
    /*transition: 0.5s linear all;*/
}
.resultRow.ng-leave-stagger,
.resultRow.ng-enter-stagger {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-duration: 0;
    -webkit-transition-duration: 0;
}
.resultRow.ng-enter {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity: 0;
}
.resultRow.ng-enter.ng-enter-active {
    opacity: 1;
}

.resultContainer {
    display: block;
    float: right; 
    width: 70%;
}
.resultName {
    display: block;
    position: relative;
    float: left;
    font-size: 1.25em;
}
.resultEmail {
    display: block;
    position: relative;
    float: right;
    font-size: 0.9em;
}
.resultPhone {
    display: block;
    position: relative;
    float: left;
    font-size: 0.8em;
}
.resultMobile {
    display: block;
    position: relative;
    float: right;
    font-size: 0.8em;
}
.resultBlock {
    display: block;
    float: right;
    width: 100%;
    padding-bottom: 1em;
}
.buttonsContainer {
    margin-top: 1em;
}

/****** Polymer ***/
  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
  }
  core-toolbar {
    background: #03a9f4;
    color: white;
  }
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container {
    width: 80%;
    margin: 50px auto;
  }
  @media (min-width: 481px) {
    #tabs {
      width: 200px;
    }
    .container {
      width: 400px;
    }
  }

paper-button
{
    color: black;
    width: 10em;
}
paper-button.colored {
    width: 10em;
      color: #4285f4;
      fill: #4285f4;
    }

    paper-button[raisedButton].colored {
      background: #4285f4;
      color: #fff;
    }

    paper-button[raisedButton].colored #ripple,
    paper-button[raisedButton].colored::shadow #ripple {
      color: #2a56c6;
    }

    paper-button[raisedButton].colored #focusBg,
    paper-button[raisedButton].colored::shadow #focusBg {
      background: #3367d6;
    }

.my-button {
    width: 10em;
    background: #4285f4;
    color: #fff;
}

.my-button:hover {
    background: #2a56c6;
}

.my-button::shadow #ripple {
    color: #2a56c6;
}